<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <fieldset data-bind="attr: {'id': getCode() + '-cc_owner', class: 'fieldset payment items ccard-owner'}">
                <div class="field required">
                    <label data-bind="attr: {for: getCode() + '_cc_name'}" class="label">
                        <span>Nome no cartão</span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[cc_name]" class="input-text" value=""
                               data-bind="value: ccOwner, attr: {
                                    id: getCode() + '_cc_name',
                                    title: 'Nome do cartao de credito',
                                    'data-container': getCode() + '-cc-name',
                                    'data-validate': JSON.stringify({required:true}),
                                    placeholder: 'MARIA JOSÉ SOBRINHA'}
                                    "/>
                    </div>
                </div>


                <div class="field required">
                    <label data-bind="attr: {for: getCode() + '_cc_cpf'}" class="label">
                        <span>CPF</span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[cc_cpf]" class="input-text" value=""
                               data-bind="value: ccCpf, attr: {
                                    id: getCode() + '_cc_cpf',
                                    title: 'CPF',
                                    'data-container': getCode() + '-cc-cpf',
                                    'data-validate': JSON.stringify({required:true}),
                                    placeholder: '999.999.999.99'},
                                    mask: '000.000.000-00'
                        "/>
                    </div>
                </div>

                <div class="field required">
                    <label data-bind="attr: {for: getCode() + '_cc_ddn'}" class="label">
                        <span>Data de nascimento</span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[cc_dt_nascimento]" class="input-text" value=""
                               data-bind="value: ccDob, attr: {
                                    id: getCode() + '_cc_ddn',
                                    title: 'Data de Nascimento',
                                    'data-container': getCode() + '-cc-ddn',
                                    'data-validate': JSON.stringify({required:true}),
                                    placeholder: '30/12/2000'},
                                    mask: '00/00/0000'
                        "/>
                    </div>
                </div>

                <div class="field required">
                    <label data-bind="attr: {for: getCode() + '_cc_tel'}" class="label">
                        <span>DDD e Telefone</span>
                    </label>
                    <div class="control">
                        <input type="text" name="payment[cc_tel_ddd]" class="input-text" value=""
                               data-bind="value: ccDdd, attr: {
                                    id: getCode() + '_cc_tel_ddd',
                                    title: 'DDD',
                                    'data-container': getCode() + '-cc-tel-ddd',
                                    'data-validate': JSON.stringify({required:true}),
                                    placeholder: '99'},
                                    mask: '00'
                        "/>
                        <input type="text" name="payment[cc_tel]" class="input-text" value=""
                               data-bind="value: ccTelefone, attr: {
                                        id: getCode() + '_cc_tel',
                                        title: 'Telefone',
                                        'data-container': getCode() + '-cc-tel',
                                        'data-validate': JSON.stringify({required:true}),
                                        placeholder: '9999-99999',
                                    },
                                    mask: '0000-00000'
                        "/>
                    </div>
                </div>

            </fieldset>

            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                <div class="field type">
                    <div class="control">
                        <input type="hidden"
                               name="payment[cc_type]"
                               class="input-text"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                   value: creditCardType
                   ">
                    </div>
                </div>
                <div class="field number required">
                    <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                        <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="number" name="payment[cc_number]" class="input-text"
                        data-validate="{'required-entry':true,
      'validate-cc-number':true, 'validate-number':true}" value=""
                               data-bind="value: ccNumber, attr: {
                                    autocomplete: off,
                                    placeholder: 'Apenas números sem espaços',
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-number-pagseguro': {token: ccToken()}})
                                    },
                              mask: '0000000000000000', 
                              enable: isActive($parents),
                              value: creditCardNumber,
                              valueUpdate: 'keyup',
                               
                              "/>
                        <div data-bind="visible: showBrand">
                            <img data-bind="attr:{src: brandUrl}"/>
                        </div>
                    </div>
                </div>
                <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                    <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group group-2">
                            <div class="field no-label month">
                                <div class="control">
                                    <select  name="payment[cc_exp_month]"
                                             class="select select-month"
                                             data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth">
                                    </select>
                                </div>
                            </div>
                            <div class="field no-label year">
                                <div class="control">
                                    <select name="payment[cc_exp_year]"
                                            class="select select-year"
                                            data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ko if: (hasVerification())-->
                <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'CVV'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip">
                        <input type="number"
                               autocomplete="off"
                               class="input-text cvv"
                               name="payment[cc_cid]"
                               value=""
                               data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber" />
                        <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </fieldset>


            <fieldset data-bind="attr: {'id': getCode() + '-cc_parcelas', class: 'fieldset payment items ccard-parcelas'}">
                <div class="field required">
                    <label data-bind="attr: {for: getCode() + '_cc_parcelas'}" class="label">
                        <span>Parcelas</span>
                    </label>
                    <div class="control">
                        <select name="payment[cc_parcela]" value=""
                                data-bind="value: ccParcelas, attr: {
                                    id: getCode() + '_cc_parcela',
                                    title: 'Parcelas',
                                    'data-container': getCode() + '-cc-parcela',
                                    'data-validate': JSON.stringify({required:true}),
                                },
                                options: parcelasItems,
                                optionsText: function(item) {
                                    return item.label;
                                },
                                optionsValue: function(item) {
                                    return item.value;
                                }
                        ">
                            <option value="">Informe os dados do cartão para calcular</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>